/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

body {
  background: #000000;
  font-family: "Rowdies", serif;
  font-weight: 400;
  font-style: normal;
}
