#Registro{
  background-color: #141414;
  color: #ffffff;
  border-color: #ffffff;
  transition: all 0.3s ease;
  padding: 20px 40px;
  font-size: 24px;
  border-radius: 8px;
}

#Registro:hover {
  background-color: #272727;
  color: #ffd200;
  border-color: #ffffff;
  cursor: pointer;
}

#Registro:focus {
  outline: none;
  box-shadow: 0 0 5px #000000;
}

#Inicio{
  background-color: #ffd200;
  color: #1c1c1c;
  border-color: #ffd200;
  transition: all 0.3s ease;
  padding: 20px 40px;
  font-size: 24px;
  border-radius: 8px;
}

#Inicio:hover {
  background-color: #685501;
  color: #ffffff;
  border-color: #e6ba00;
  cursor: pointer;
}

#Inicio:focus {
  outline: none;
  box-shadow: 0 0 5px #ffd200;
}

#Inicio:active {
  background-color: #cda600;
  border-color: #cda600;
  transform: scale(0.98);
}

#ContLanding{
  background-color: #141414;
  border-color: #ffffff;
}

#FondoLanding{
  background-color: #ffd200;
}