.welcome-banner {
  background-color: #000000; /* Color de fondo claro */
}

.content-wrapper {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.button-section {
  margin-bottom: 20px;
}

.custom-btn {
  width: 200px;
  font-size: 1.2rem;
  padding: 10px 20px;
}

.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-logo {
  max-width: 300px;
  height: auto;
}

.formulario-contenedor {
    background-color: #141414;
    padding: 5vh;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 2px solid #ffd200;
  }

  .btn-yellow {
    background-color: #ffd200;
    border: none;
    color: #000;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 5px;
  }
  
  .btn-yellow:hover {
    background-color: #aa8b01;
    color: #000;
  }

  .btn-white {
    background-color: #FFFFFF;
    border: none;
    color: #000;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 5px;
  }
  
  .btn-white:hover {
    background-color: #D0D0D0;
    color: #000;
  }