@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

body {
  background: #000000;
  font-family: "Rowdies", serif;
  font-weight: 400;
  font-style: normal;
}

.formulario-contenedor {
  background-color: #141414;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 2px solid #ffd200;
}

.formulario-titulo {
  color: #ffd200;
  font-weight: bold;
  text-transform: uppercase;
}

.formulario-label {
  color: #fff;
  font-size: 1rem;
}

.formulario-input {
  background-color: #1c1c1c;
  border: 1px solid #ccc;
  color: #fff;
  border-radius: 5px;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
}

.formulario-input:focus {
  border-color: #ffd200;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
  outline: none;
}

.formulario-boton {
  background-color: #ffd200;
  border: none;
  color: #000;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 5px;
}

.formulario-boton:hover {
  background-color: #aa8b01;
  color: #000;
}