@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

body {
  background: #000000;
  font-family: "Rowdies", serif;
  font-weight: 400;
  font-style: normal;
}

.formulario-contenedor {
  background-color: #141414;
  padding: 5vh;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 2px solid #ffd200;
}

.formulario-titulo {
  color: #ffd200;
  font-weight: bold;
  text-transform: uppercase;
}

.formulario-label {
  color: #fff;
  font-size: 1rem;
}

.formulario-input {
  background-color: #1c1c1c;
  border: 1px solid #ccc;
  color: #fff;
  border-radius: 5px;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
}

.formulario-input:focus {
  border-color: #ffd200;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
  outline: none;
}

.formulario-boton {
  background-color: #ffd200;
  border: none;
  color: #000;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 2vh;
}

.formulario-boton:hover {
  background-color: #aa8b01;
  color: #000;
}

@media (max-width: 576px) {
  .formulario-contenedor {
    padding: 4vh 2vh;
  }

  .formulario-titulo {
    font-size: 1.5rem;
  }

  .formulario-boton {
    font-size: 1rem;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 20px 10px;
  }

  .formulario-titulo {
    font-size: 1.5rem;
  }

  .formulario-input {
    font-size: 0.9rem;
    padding: 8px;
  }

  .formulario-label {
    font-size: 0.85rem;
  }

  .formulario-boton {
    font-size: 0.9rem;
    padding: 8px;
  }

  .img-fluid {
    width: 100%;
  }
}

#enlace-login{
  color: #fff;
  font-style: oblique;
  font-size: 1.5vh;
}