.card-border {
    border-color: #ffd200;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-border:hover {
    transform: scale(1.05);
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-img-top {
    height: 75%;
    object-fit: cover;
}

.card-body {
    background-color: #ffd200;
    padding: 16px;
    text-align: center;
    height: 25%;
}

.card-title {
    color: #131313;
    font-size: 1rem;
    margin: 0;
}

.card-text {
    font-size: 0.85rem;
    color: #000000;
    margin: 4px 0 0;
}

.card-border.favorite {
    border-color: white; /* Cambia el borde a blanco */
    box-shadow: 0 0 10px 4px rgba(255, 181, 211, 0.7); /* Glow rosa */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}